body {
    background-image: url('../Images/ht.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    image-resolution: 500dpi;
}

.search{
    float: left;
    margin-top:30px;
    margin-left: 100px;
}

input[type=text] {
    padding: 2px;
    font-size: 15px;
    font-family:sans-serif;
    border-radius:1px 1px 1px 1px;

}

button {
    float: left;
    color: black;
    cursor: pointer;
    position: relative;
    padding: 5px;
    font-family: sans-serif;
    border: none;
}

a {
    text-decoration: none;
    color: #31b1e5;
    font-size: 20px;
    margin-top: 10px;
}

ul{
    padding:0;
    margin:0 0 0 150px;
}

nav {
    width:100%;
    float: right;
    margin-top: 10px;
    background:black;
}

li {
    float: right;
    list-style: none;
    padding: 30px;
    -webkit-transition: padding bottom 0.6s;
}

.Social-Bar{
    position:fixed;
    left:0;
    top:40%;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    z-index:100;
 }

.icon{
    color:white;
    text-decoration:none;
    display:flex;
    transition:all .5s;
    padding:.5rem;
}

.icon-facebook{
    background:#2E406E;
}

.icon-instagram {
    background: #3F60A5;
}

.icon-youtube {
    background: #E83028;
}

.icon:first-child{
    border-radius: 0 1rem 0 0;
}

.icon:last-child{
    border-radius: 0 0 1rem 0;
}

.icon:hover{
    padding-left:2rem;
    border-radius: 1rem 1rem 1rem 1rem;
 }

li:hover a {
     text-transform:capitalize;
    color:teal;
    padding-left: 50px;
}
