


/* Acomodo segun pantalla */
@media(min-width: 1200px) {
    #left {
        flex: 4;
    }

    #right {
        flex: 6;
    }
}

@media(max-width: 768px) {
    body {
        overflow: auto;
    }

    #right {
        display: none;
    }

    #left {
        justify-content: center;
        margin-top: 4vh;
    }

    #sign-in .logo {
        margin-bottom: 2vh;
    }

    #sign-in .text-input {
        margin-bottom: 0.7rem;
    }

    #main-footer {
        padding-top: 1rem;
    }
}


body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    background: #181818;
    color: #fff;
    overflow: hidden;
    margin: 0;
   
}


#wrapper {
    display: flex;
    flex-direction: row;
}

#left {
    flex: 1;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

    #left .login {
        width: 320px;
        height: 500px;
        background-color: #285F7A;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        box-sizing: border-box;
        padding: 70px 30px;
        position: relative;
    }

    #left .avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        left: calc(50% - 50px);
    }


    #left .text-input {
        border: none;
        background: transparent;
        outline: none;
        height: 40px;
        font-size: 16px;
        border-bottom: 1px solid #fff;
        margin-bottom: 20px;
        width: 95%;
    }

    #left .btn-save {
        border: none;
        outline: none;
        height: 40px;
        background: #f96816;
        border-radius: 20px;
        margin-bottom: 20px;
        width: 100%;
    }

        #left .btn-save:hover {
            background-color: #ff7b39;
        }

    #left .links a {
        width: 100%;
        color: #fff;
        text-decoration: none;
        margin-bottom: 1rem;
        display: block;
        text-align: center;
        font-size: 1rem;
    }


#right {
    flex: 2;
}

    #right .showcase {
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center;
    }

        #right .showcase .text {
            height: 100vh;
            position: relative;
            z-index: 2;
            padding-top: 20%;
            font-size: 2rem;
        }

        #right .showcase .label {
            color: #f96816;
        }
        /* Fading animation */
        #right .showcase .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }


/* Footer */
#main-footer {
    color: #ccc;
    text-align: center;
    font-size: 0.8rem;
    max-width: 80%;
    padding-top: 5rem;
    margin:auto;
}

    #main-footer a {
        color: #f96816;
        text-decoration: underline;
    }
