<!DOCTYPE html>

<html>
<head runat="server">
    <title>Hotelling</title>
    <link href="CSS/HojaEstilos.css" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="32x32" href="Images/icon.png">

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
      

  

        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    
    </form>
</body>
</html>
